.list-card {
  // border: 1px solid rgb(35, 240, 178);
  background: #d7e5ff;
  border-radius: 20px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prd-content {
  margin-left: 1em;
  margin-top: 0.5em;
}

.list-completed {
  margin-top: 1em;
}

.span-price {
  font-weight: 900;
  text-decoration: underline;
  color: #3a02bd;
}
