.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #242363;
  padding: 0 20px;

  a {
    color: #fff;
  }
  width: 100%;
  min-height: 100vh;
}

.create-list,
.today-list {
  width: 80%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  border-radius: 20px;
  -webkit-box-shadow: 4px 11px 12px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 11px 12px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 11px 12px -8px rgba(0, 0, 0, 0.75);
}

.create-list {
  background: #a31f77;
}
.today-list {
  margin: -20vh 0 0 0;
  background: #1f9aa3;
}
